<div id="dropnotice">
   <div id="noticelist">
   <% Notice.all.each do |notice| %> 
    <p><%= notice.title %></p>
    <p><%= notice.text %></p>            
    <p><%= link_to 'Destroy', notice_path(notice), data: {:confirm => 'Are you sure?'}, :method => :delete %></p>  
  <%end%>
  </div>
<%= form_for Notice.create do |f| %>
  <b>Title</b>
  <p id="title"><%= f.text_field :title %></p>
  <b>Body</b>
  <p id="text"><%= f.text_area :text %></p>
  <p>Add notice</p>
<div class="sendnotice"><%= f.submit 'Create', class: 'btn btn-success' %></div>
<%end%>
</div>


