<div class="notices">
  <%= render "notices/new_notice" %>
</div>
<div id="globalcalendar">
  <% start_date = params.fetch(:start_date, Date.today).to_date %>
  <% date_range = (start_date.beginning_of_month.beginning_of_week..start_date.end_of_month.end_of_week).to_a %>
  <%= link_to  "Prev", start_date: date_range.first - 1.day %>
  <b><%= I18n.t("date.month_names")[start_date.month] %><%=start_date.year%></b>
  <%= link_to  "Next", start_date: date_range.last + 1.day %>
  
  <table class="bodycalendar">
    <thead>
      <tr>
      <% date_range.slice(0,7).each do |day| %> 
      <th class="calendarhead"><%= I18n.t("date.abbr_day_names")[day.wday]%></th>
      <%end%>
      </tr>
    </thead>
    <tbody>
      <% date_range.each_slice(7) do |week| %>
      <tr>    
      <% week.each do |day| %>
      <td class="daycell"><div><%=day.strftime('%d')%></div>    
      </td>   
      <%end%>
      </tr>
      <%end%> 
    </tbody>
  </table>
  </div>
<%= render  "calendar" %>
<span><%= button_to "New day", new_day_path, :method => "get", :class => "btn btn-primary" %></span>

