<h4>Total amount of tasks <%=Task.all.count%></h4>
<div class="tips">
	<div class="greentd center" ></div>
	<i>&nbsp;<div id="success"><%=Day.all.where(successful: true).count%></div>success day&nbsp;</i>
	<div class="redtd center"></div>
	<i>&nbsp;<div id="notsuccess"><%=Day.all.where(successful: false).count%></div>not success day&nbsp;</i>
	<div class="bluetd center"></div>
	<i>&nbsp;<div id="notset"><%=Day.all.where(successful: nil).count%></div>day not set&nbsp;</i>
</div>

<%= render  "calendar", collection: @days, cached: true %>
<%if (Day.all.count > 0)%>
<canvas id="myChart"></canvas>
<%end%>
