<h2>New day</h2>
<%= form_for @day do |f| %>
  <p>Date</p>
  <%= f.date_field :date %>
  <p>Succssesful</p>
  <%= f.check_box :successful %>
  <p>How was your day</p>
  <%= f.text_area :report %>
  <p>Add tasks on day</p>
  <br> 
<%= f.submit 'Create', class: 'btn btn-primary' %>
<%end%>


