<h2>New day</h2>
<div class="form-group">
<%= form_for @day do |f| %>
  <label>Date</label>
  <%= f.date_field :date, class: "form-control" %>
  <label>Succssesful</label>
  <%= f.check_box :successful %>
  <br>
  <label>How was your day</label>
  <%= f.text_area :report, class: "form-control", placeholder: "Report" %>
  <label>Add tasks on day</label>
  <br> 
<%= f.submit 'Create', class: 'btn btn-primary' %>
<%end%>
</div>
