<div class="container">
	<div class="container_day">
	<p><%= @day.date.try(:strftime, '%B %d, %Y') %></p>
	<p>Success of the day</p>
	<p class="<%=@day.successful ? 'glyphicon glyphicon-ok' : '	glyphicon glyphicon-minus'%>"><%= @day.successful %></p>
	<p>Report on day</p>
	<div id="container_report" data-toggle="modal" data-target="#editDay" title="Click for edit report"><%= @day.report %></div>
	<br>
	<h3>Tasks on day</h3>
	<div data-day_id="<%= @day.id %>", class="task-container">
		<div id="tasklist">
		<%Task.all.sort_by(&:created_at).each do |task|%>
			<% if (task.date_begin..task.date_end).to_a.include?(@day.date)%>
			<div class="onetask <%= task.date_end > @day.date ? 'greentask' : 'redtask'%> <%= task.completed == "completed" ? 'silvertask': ''%>">	
			<p title="<%= (task.date_end+1.day - task.date_begin).to_i%>  days to task , <%= task.task_type%>"><input type="checkbox" name="taskOff" value="1" class="check"/><b class="line-through" data-toggle="modal" data-target="#editModal "><%= task.list %> </b>
				<%= link_to day_task_path(task.day, task), remote: true, method: :delete do %>
				  <span class="glyphicon glyphicon-trash"></span>
				<%end%>
				</p>
				</p>
				<p></p>
			</div>	
		<%end%>
		<%end%>
			</div>
			<button type="button" id="taskButton" class="btn btn-secondary">Add task</button>
		<div id="taskform" autofocus>	
		<p>Add tasks on day </p>
		<span class="glyphicon glyphicon-remove icoremove" id="hideform"></span>
		<input type="text" name="task" id="task" autofocus />
		<br>
		<p>Date start task</p>
		<input type="date" name="date_begin" id="date_begin" value="<%=@day.date%>"/>
		<p>Date finish task</p>
		<input type="date" name="date_end" id="date_end" value="<%=@day.date%>"/>
		<p>Type task</p>
		<%= select("task","type", Task.task_types.keys {|p| [ p.type ] })%>	
		<hr>
		<div class="sendtask"><button>Add task</button></div>
	  </div>
	</div>
    </div>
	<br>
	<div class="element_control_day">
	  <span><%= button_to "Delete day", day_path, method: :delete, :class => "btn btn-danger" %></span>
	  <span><%= link_to  "Back", days_path %></span>
  </div>
  </div>
</div>

<!-- Modal edit task -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
			<h4 class="modal-title" id="exampleModalLabel">Edit tasks</h4>
		</div>
		<div class="modal-body">
			<% Task.all.each do |task|%>
			<% if (task.date_begin..task.date_end).to_a.include?(@day.date)%>
				<%= form_for([@day, task]) do |f| %>
				<div class="modaltask">
				<div class="field">
					<p>Task</p>
					<%= f.text_area :list %>
					<br>
					<p>Start</p>
					<%= f.date_field :date_begin %>
					<br>
					<p>Finish</p>
					<%= f.date_field :date_end %>
					<p>Type</p>
					<%= f.select :task_type, Task.task_types.keys %>
					<p>Completed</p>
					<%= f.select :completed, Task.completeds.keys %>
					<br>
				</div>
				<div class="actions">
					<%= f.submit 'Edit', class: 'btn btn-warning btnedittask'%>
					<%= link_to day_task_path(task.day, task), remote: true, method: :delete do %>
				  <span class="glyphicon glyphicon-trash"></span>
				<%end%>
				</div>
			</div>
			<% end %> 
			<%end%>	 
			<%end%> 
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		</div>
	  </div>
	</div>
	</div>
	
	<!-- Modal edit day -->
<div class="modal fade" id="editDay" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
			<h4 class="modal-title" id="exampleModalLabel">Edit</h4>
		</div>
		<div class="modal-body">
			<%= form_for @day do |f| %>
				<p>Mark if the day was successful</p>
				<%= f.check_box :successful %>
				<p>Edit report day</p>
				<%= f.text_area :report %>
			<br> 
				<%= f.submit 'Edit', class: 'btn btn-warning'%>
			<%end%>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		</div>
	  </div>
	</div>
  </div>