<div id="clock" class="clock"></div>
<div class="container">
	<div class="container_day">
	<p><%= formated_date(@day.date) %></p>
	<p>Success of the day</p>
	<p class="<%=@day.successful ? 'glyphicon glyphicon-ok' : 'glyphicon glyphicon-minus'%>">
		<% @day.successful %>
	</p>
	<p id='report'>Report on day</p>
	<div id="container_report" data-toggle="modal" data-target="#editDay" title="Click for edit report">
		<%= @day.report %>
	</div>
	<br>
	<h3>Tasks creating</h3>
	<div data-day_id="<%= @day.id %>", class="task-container">
		<div id="tasklist"></div>
<button class="accordion">Task on day</button>
	<div class="panel" id="tasksOnDay">
		<%Task.day.each do |task|%>
		<% if user_signed_in? && current_user.creator_of?(task) %>
		<% if (task.date_end == @day.date)%>
		<div data-task-id= "<%=task.id%>" class="onetask  <%= task.status == "finished" ? 'silvertask' : ''%> greentask">	
		<p title="<%= task.duration%>">
			<b class="line-through" data-toggle="modal" data-target="#editModal "><%= task.list %> </b>
			<span class="glyphicon glyphicon-trash"></span>
			</p>
			</p>
		</div>	
	<%end%>
	<%end%>
	<%end%>
	</div>
<button class="accordion">Tasks on week</button>
	<div class="panel" id="tasksOnWeek">
	<%Task.week.each do |task|%>
		<% if user_signed_in? && current_user.creator_of?(task) %>
		<% if ((@day.date.beginning_of_week..@day.date.end_of_week).include?(task.date_end) )%>
		<div data-task-id= "<%=task.id%>" class="onetask  <%= task.status == "finished" ? 'silvertask' : ''%> greentask ">	
		<p title="<%= task.duration%>">
			<b class="line-through" data-toggle="modal" data-target="#editModalWeek "><%= task.list %> </b>
				<span class="glyphicon glyphicon-trash"></span>
			</p>
			</p>
		</div>	
		<%end%>
		<%end%>
		<%end%>
	</div>
<button class="accordion">Tasks on month</button>
	<div class="panel"  id="tasksOnMonth">
	<%Task.month.each do |task|%>
		<% if user_signed_in? && current_user.creator_of?(task) %>
		<% if ((@day.date.beginning_of_month..@day.date.end_of_month).include?(task.date_end) )%>
		<div data-task-id= "<%=task.id%>" class="onetask  <%= task.status == "finished" ? 'silvertask' : ''%> greentask">	
		<p title="<%= task.duration%>">
			<b class="line-through" data-toggle="modal" data-target="#editModalMonth "><%= task.list %> </b>
			<span class="glyphicon glyphicon-trash"></span>
			</p>
			</p>
		</div>	
		<%end%>
		<%end%>
		<%end%>
	</div>
<button class="accordion">Tasks on year</button>
	<div class="panel"  id="tasksOnYear">
	<%Task.year.each do |task|%>
		<% if user_signed_in? && current_user.creator_of?(task) %>
		<% if ((@day.date.beginning_of_year..@day.date.end_of_year).include?(task.date_end) )%>
		<div data-task-id= "<%=task.id%>" class="onetask  <%= task.status == "finished" ? 'silvertask' : ''%> greentask">	
		<p title="<%= task.duration%>">
			<b class="line-through" data-toggle="modal" data-target="#editModalYear "><%= task.list %> </b>
			<span class="glyphicon glyphicon-trash"></span>
			</p>
			</p>
		</div>	
		<%end%>
		<%end%>
		<%end%>
	</div>
						
	<button type="button" id="taskButton" class="btn btn-primary">Add task</button>
	<div id="taskform" autofocus>	
		<p>Add tasks on day </p>
		<span id="hideform" class="glyphicon glyphicon-remove icoremove"></span>
		<input type="text" name="task" id="task" autofocus />
		<br>
		<p>Type task</p>
		<div id = "selectorForm">
		<%= select("task","duration", Task.durations.keys {|p| [ p.type ] } ) %>	
		<%= select("task","year", (Time.zone.now.year)..(Time.zone.now.year + 1)) %>
		<%= select_month(Date.today) %>
		<%= select("task", "week", (@day.date.beginning_of_month.strftime("%U"))..(@day.date.end_of_month.strftime("%U"))) %>
		<p id="paragraphDateTask"></p>
		<p id="date_field">Date task</p>
		<input type="date" name="date_end" id="date_end" value="<%=@day.date%>"/>
		<hr>
		<div class="sendtask"><button class="btn btn-primary" id="sendFormTask">Add</button></div>
		</div>
	</div>
	</div>
    </div>
	<br>
	<div class="element_control_day">
	  <span><%= button_to "Delete day", day_path, method: :delete, :class => "btn btn-danger" %></span>
	  <span><%= link_to  "Back", days_path %></span>
  </div>
  </div>
</div>
<%= render 'days/modals/modal_edit_task' %>
<%= render "days/modals/modal_edit_week_task" %>
<%= render "days/modals/modal_edit_month_task" %>
<%= render "days/modals/modal_edit_year_task" %>
<%= render "days/modals/modal_edit_day" %>
