<div class="container">
  <h2>Day</h2>
	<%= @day.date.try(:strftime, '%B %d, %Y') %>
	<br>
	<p>Success of the day</p>
	<b><%= @day.successful %></b>
	<br>
	<p>Report on day</p>
	<b><%= @day.report %></b>
	<br>
	<h2>Tasks on day</h2>
	<div data-day_id="<%= @day.id %>", class="task-container">
		<div id="tasklist">
		<% @day.tasks.each do |task| %>
		<p><%= task.list %></p>
		<%= link_to "delete task", day_task_path(task.day, task), remote: true, method: :delete %>
		<p></p>
		<%end%>
	    </div>
		<p>Add tasks on day</p>
		<input type="text" name="task" id="task"/>
		<hr>
		<div class="sendtask"><button >Add task</button></div>
	</div>
	</div>
	<br>
	<%= link_to  "Back", days_path %>
</div>