<div class="container">
	<div class="container_day">
	<p><%= @day.date.try(:strftime, '%B %d, %Y') %></p>
	<p>Success of the day</p>
	<p class="<%=@day.successful ? 'glyphicon glyphicon-ok' : '	glyphicon glyphicon-minus'%>"><%= @day.successful %></p>
	<p>Report on day</p>
	<p id="container_report"><span><%= @day.report %></span></p>
	<br>
	<h2>Tasks on day</h2>
	<div data-day_id="<%= @day.id %>", class="task-container">
		<div id="tasklist">
		<% @day.tasks.each do |task| %>
		<p><%= task.list %></p>
		<%= link_to "delete task", day_task_path(task.day, task), remote: true, method: :delete %>
		<p></p>
		<%end%>
	    </div>
		<p>Add tasks on day</p>
		<input type="text" name="task" id="task"/>
		<hr>
		<div class="sendtask"><button >Add task</button></div>
	</div>
	</div>
	<br>
	<div class="element_control_day">
	  <span><%= button_to "Edit day", edit_day_path, :method => "get", :class => "btn btn-warning" %></span>
	  <span><%= button_to "Delete day", day_path, method: :delete, :class => "btn btn-danger" %></span>
	  <span><%= button_to "Delete all days to the current month", destroy_on_month_day_path, :method => "delete",:class => "btn btn-danger", :title => "Delete all days before 1 #{Date.current.strftime('%B')}", data: { confirm: "Do you want to delete all days before the current month?" } %></span> 	  
	  <span><%= link_to  "Back", days_path %></span>
  </div>
  </div>
</div>
