<div class="container">
	<div class="notices">
	  <%= render "notices/new_notice" %> 
	</div>
	<div class="container_day">
	<p><%= @day.date.try(:strftime, '%B %d, %Y') %></p>
	<p>Success of the day</p>
	<p class="<%=@day.successful ? 'glyphicon glyphicon-ok' : '	glyphicon glyphicon-minus'%>"><%= @day.successful %></p>
	<p>Report on day</p>
	<p id="container_report"><span><%= @day.report %></span></p>
	<br>
	<h2>Tasks on day</h2>
	<div data-day_id="<%= @day.id %>", class="task-container">
		<div id="tasklist">
		<div class="onetask">
		<%Task.all.each do |task|%>
			<% if (task.datebeggin..task.dateend).to_a.include?(@day.date)%>
				<p><b><%= task.list %> </b><u style="color:#660000"><%= (task.dateend+1.day - task.datebeggin).to_i%>  days to task</u></p>
				<p><i><%=task.datebeggin.strftime('%b %d')%></i> - <i><%=task.dateend.strftime('%b %d')%></i></p>
				<%= link_to "delete task", day_task_path(task.day, task), remote: true, method: :delete %>
				<button class="btnedittask" data-toggle="modal" data-target="#editModal ">
					Edit
					</button>
				<p></p>	
		<%end%>
		<%end%>
	</div>
	    </div>
		<p>Add tasks on day</p>
		<input type="text" name="task" id="task"/>
		<br>
		<p>Date start task</p>
		<input type="date" name="datebeggin" id="datebeggin"/>
		<p>Date finish task</p>
		<input type="date" name="dateend" id="dateend"/>
		<hr>
		<div class="sendtask"><button>Add task</button></div>
	</div>
    </div>
	<br>
	<div class="element_control_day">
	  <span><%= button_to "Edit day", edit_day_path, :method => "get", :class => "btn btn-warning" %></span>
	  <span><%= button_to "Delete day", day_path, method: :delete, :class => "btn btn-danger" %></span>
	  <span><%= link_to  "Back", days_path %></span>
  </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
			<h4 class="modal-title" id="exampleModalLabel">Edit tasks</h4>
		</div>
		<div class="modal-body">
			<% Task.all.each do |task|%>
			<% if (task.datebeggin..task.dateend).to_a.include?(@day.date)%>
				<%= form_for([@day, task]) do |f| %>
				<div class="field">
					<p>Task</p>
					<%= f.text_area :list %>
					<br>
					<p>Start</p>
					<%= f.date_field :datebeggin %>
					<br>
					<p>Finish</p>
					<%= f.date_field :dateend %>
					<br>
				</div>
				<div class="actions">
					<%= f.submit 'Edit', class: 'btn btn-warning btnedittask'%>
				</div>
			<% end %> 
			<%end%>	 
			<%end%> 
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		</div>
	  </div>
	</div>
  </div>